@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.view-enter-active {
  animation-duration: 0.35s;
  animation-name: opacityIn;
}
.view-leave-active {
  animation-duration: 0.35s;
  animation-name: opacityOut;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.coin-enter-active {
  animation-duration: 1s;
  animation-name: flipInX;
}
.coin-leave-active {
  animation-name: flipOutX;
  animation-duration: 0.75s;
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes leftOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.Deposit-enter-active {
  animation-name: leftIn;
  animation-duration: 0.35s;
}
.Deposit-leave-active {
  animation-name: leftOut;
  animation-duration: 0.35s;
}

.Transfer-enter-active {
  animation-name: rightIn;
  animation-duration: 0.35s;
}
.Transfer-leave-active {
  animation-name: rightOut;
  animation-duration: 0.35s;
}

.Operate-enter-active {
  animation-name: leftIn;
  animation-duration: 0.35s;
}
.Operate-leave-active {
  animation-name: leftOut;
  animation-duration: 0.35s;
}

.Link-enter-active {
  animation-name: rightIn;
  animation-duration: 0.35s;
}
.Link-leave-active {
  animation-name: rightOut;
  animation-duration: 0.35s;
}
