@font-face {
  src: url("./Poppins-Medium.ttf");
  font-family: "Poppins-Medium";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Poppins-Bold.ttf");
  font-family: "Poppins-Bold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Poppins-Regular.ttf");
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Poppins-ExtraLight.ttf");
  font-family: "Poppins-ExtraLight";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Poppins-SemiBold.ttf");
  font-family: "Poppins-SemiBold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-Bold.ttf");
  font-family: "Manrope-Bold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-ExtraBold.ttf");
  font-family: "Manrope-ExtraBold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-ExtraLight.ttf");
  font-family: "Manrope-ExtraLight";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-Light.ttf");
  font-family: "Manrope-Light";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-Medium.ttf");
  font-family: "Manrope-Medium";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-Regular.ttf");
  font-family: "Manrope-Regular";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Manrope-SemiBold.ttf");
  font-family: "Manrope-SemiBold";
  font-weight: normal;
  font-style: normal;
}
